<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness Tracker</title>
    <link rel="stylesheet" href="global.css" />
    <link rel="stylesheet" href="summaryPage.css" />
  </head>

  <body>
    <section class="grid-container">
      <section>
        <h2 class="section-title">Cardio Workouts</h2>
        <canvas id="summary"></canvas>
      </section>
      <section>
        <h2 class="section-title">Strength Workouts</h2>
        <table id="summary-table">
          <thead>
            <th>Name</th>
            <th>Weight</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Date</th>
          </thead>
          <tbody></tbody>
        </table>
      </section>
    </section>

    <section id="show_workouts" class="box workout-box">
      <a href="/workout">BACK TO WORKOUT LOG</a>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="summaryPage.js"></script>
  </body>
</html>
