.grid-container {
  gap: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.section-title {
  text-align: center;
}

table {
  width: 100%;
}

.summary-table th {
  background: rgba(0, 0, 0, .5);
  color: #03e9f4;
}

.summary-table tr {
  text-align: center;
  color: #03e9f4;
}

canvas {
  background: linear-gradient(#141e30, #243b55);
}

.grid-container > section {
  background: rgba(0, 0, 0, .5);
}
