<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Fitness Tracker</title>
  <link rel="stylesheet" href="workoutPage.css" />
</head>

<body>
  <section class="profile-box">
    <button type="button" class="profile-button" onclick="openModal();">
      <img alt="profile" class="profile-image" src="profile.svg">
    </button>
  </section>
  
  <profile-modal id="modal"></profile-modal>
  <navbar id="workout_nav" class="navbar box">
    <button type="button" class="nav_button" onclick="window.location.href='/workout/prev';"><</button>
    <form id="workout_info">
      <label id="workout_date">Date : </label>
      <input id="workout_name" class="input_text" type="text" maxlength="20" value="Workout Name" />
    </form>
    <button type="button" class="nav_button" onclick="window.location.href='/workout/next';">></button>
  </navbar>

  <section id="add_exercise" class="box">
    <input type="text" name="add_exercise_name" class="input_text" id="add_exercise_name" placeholder="Add Exercise"/>
    <ul id="add_exercise_name_dropdown"></ul>
    <form id="add_exercise_metrics" action="javascript:addExercise()"></form>
  </section>

  <section id="exercise_logs" class="box">
    <ul id="exercises"></ul>
  </section>

  <script type="module" src="workoutPage.js"></script>
  <script type="module" src="profile-modal.js"></script>
</body>

</html>