<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Add this line -->
    <title>Login</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="auth.css">
</head>
<body>
<section class="login-box">
    <h2>Login with Google</h2>
    <form>
        <a href="/auth/google">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
           Authenticate
        </a>
    </form>
</section>
</body>
</html>
